/***
 *   Layout
 *
 *  @breakpoints -  Definici贸n de los breakpoints
 *  @container - Definici贸n de contenedor m谩ximo
 *  @header - Definici贸n de alto de cabecera en m贸vil
 *  @grid - Definici贸n del grid
 *
 ***/


/***
 *  @breakpoints
 *
 *  Uso: @include breakpoint(desktop) {}
 *
 ***/

 $breakpoints: (
    mobile:  320px,
    tablet:  800px,
    desktop: 960px,
    wide:    1300px
);


/***
 *  @container
 ***/

$container : 1300px;


/***
 *  @container
 ***/

 $mobile-header : 55px;
 $tablet-header : 113px;
 $desktop-header : 113px;
 


/***
 *  @grid
 ***/