/***
 *  ⚛️ IMAGES
 *
 *
 ***/

figure {}

img {
  max-width: 100%;
}

.logo {
  width: 150px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 15px;
  z-index: $z-index-xl;

  @include breakpoint(tablet) {
    top: 34px;
    position: absolute;
    width: 180px;
  }
}