/***
 *  ⚛️ TEXTS
 *
 *
 ***/

p {
  margin: 0 0 $spacing-l 0;
  color: $color-black-lighten-60;
  line-height: $line-height;
}

strong {
  font-family: $font-secondary;
  font-weight: normal;
}

em {}

blockquote {}
