//- Burger
//-
//- @example
//-   +burger()
//-
//----------------------------------------------------------------------------------------------------------------

mixin burger()
  #burger
    div
  +burger-css()


mixin burger-css()
  //- style
  //-   include:scss ../../scss/atoms/_burger.scss
    