//- +h1('/url', 'text')(class="button")

mixin h1(text)
	h1&attributes(attributes)= text

mixin h2(text)
	h2&attributes(attributes)= text

mixin h3(text)
	h3&attributes(attributes)= text

mixin h4(text)
	h4&attributes(attributes)= text

mixin h5(text)
	h5&attributes(attributes)= text

mixin h6(text)
	h6&attributes(attributes)= text
